/* Century Gothic */
@font-face {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/CenturyGothic.ttf") format("truetype"); }

/* SegoeUIBold */
@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/SegoeUIBold.woff") format("woff"); }

/* SegoeUIRegular */
@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/SegoeUIRegular.woff") format("woff"); }

/* SegoeUIBlack */
@font-face {
    font-family: 'Segoe UI Black';
    font-style: normal;
    src: url("../fonts/seguibl.ttf") format("truetype"); }

/* SegoeUISemibold */
@font-face {
    font-family: 'Segoe UI Semibold';
    font-style: normal;
    src: url("../fonts/seguisb.ttf") format("truetype"); }