$main-color: #EF6565;
$main-color-hover: #E55B5B;
$main-color-active: #DB5151;
$custom-color: #202020;
$custom-color-hover: #2A2A29;;
$custom-color-active: #343434;
$btn-gradient: linear-gradient(to bottom, #FF7E7E, #C42121);
$btn-gradient-hover: linear-gradient(to bottom, #F57474, #BA1717);
$btn-gradient-active: linear-gradient(to bottom, #EB6A6A, #B00D0D);
$btn-shadow: 0 3px 18px #FF1E1E;
$item-shadow: 0 0 18px rgba(246, 52, 52, 0.2);
$text-shadow: 0 3px 29px rgba(239, 101, 101, 0.81);

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI Regular', sans-serif;
    color: #2d2d2d;
}

.header {
    position: relative;
    height: 859px;
    overflow: hidden;
}

.slider-main_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;

    .slider-main {
        .slider_item {
            width: 100%;
            height: 0;
            padding-bottom: 859px;
            background-position: bottom;
            background-size: cover;
            background-repeat: no-repeat;

            &.sl_1 {
                background-image: url('../images/main_slider/sl_1.jpg');
            }

            &.sl_2 {
                background-image: url('../images/main_slider/sl_2.jpg');
            }

            &.sl_3 {
                background-image: url('../images/main_slider/sl_3.jpg');
            }

            &.sl_4 {
                background-image: url('../images/main_slider/sl_4.jpg');
            }
        }
    }
}

.header-menu {
    padding-top: 20px;
    margin-bottom: 80px;

    .logo {
        a {
            display: flex;
            justify-content: left;
            align-items: end;
            text-decoration: none;

            img {
                width: auto;
                height: 57px;
                margin-right: 20px;
            }

            .logo_name {
                color: #ffffff;
                font-size: 29px;
                text-transform: uppercase;
                font-family: Times New Roman;
                line-height: 1.3;

                span {
                    display: block;
                    font-size: 10px;
                    text-transform: lowercase;
                    max-width: 120px;
                    line-height: 1;
                    font-family: 'Segoe UI Regular', sans-serif;

                    &:first-letter {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .menu {
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin-top: 5px;

            li {
                margin: 0 13px;
                line-height: 1;

                a {
                    font-family: 'Segoe UI Regular', sans-serif;
                    font-size: 14px;
                    line-height: 19px;
                    color: #ffffff;
                    position: relative;

                    &.active {
                        font-weight: 900;
                        color: $main-color;
                        padding-left: 20px;

                        &:before {
                            content: "";
                            position: absolute;
                            top: 3px;
                            left: -2px;
                            width: 24px;
                            height: 6px;
                            background-color: $main-color;
                            border-radius: 3px;
                            transform: rotate(-50deg);
                        }
                    }
                }
            }
        }
    }

    .phones {
        text-align: right;

        a {
            color: #ffffff;
            font-weight: 600;
        }

        .phone_main {
            font-size: 30px;
            line-height: 1.2;
        }

        .phone_city {
            color: #ffffff;
            font-size: 14px;
            line-height: 19px;
            margin: 10px 0;
            font-family: 'Segoe UI Regular', sans-serif;

            a {
                margin-left: 10px;
            }
        }

        .call_feedback {
            color: $main-color;
            font-size: 20px;
            font-family: 'Segoe UI Semibold';

            &:hover {
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}

.header-middle-wrap {
    .city-navigation {
        .title {
            font-family: 'Segoe UI Black', sans-serif;
            font-weight: 900;
            font-size: 50px;
            line-height: 56px;
            color: #ffffff;
            text-transform: uppercase;
            margin-bottom: 15px;

            .blue_text {
                color: $main-color;
                display: block;
                font-family: 'Segoe UI Black', sans-serif;
            }
        }
    }

    .nav_slider-main {
        list-style: none;
        margin-bottom: 35px;

        li {
            position: relative;

            a {
                cursor: pointer;
                font-family: 'Segoe UI Semibold', sans-serif;
                color: #ffffff;
                font-size: 23px;
                line-height: 39px;
                padding-left: 60px;

                &:hover {
                    text-decoration: none;
                    color: $main-color;
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 22px;
                left: 32px;
                width: 7px;
                height: 2px;
                background-color: #ffffff;
                border-radius: 21px;
            }

            &.active:before {
                top: 20px;
                left: 0;
                width: 41px;
                height: 6px;
            }
        }
    }

    .btn-header {
        background: $btn-gradient;
        box-shadow: $btn-shadow;
        text-transform: uppercase;
        font-family: 'Segoe UI', sans-serif;
        font-weight: 600;
        color: #ffffff;
        font-size: 14px;
        line-height: 19px;
        border-radius: 68px;
        padding: 15px 40px;

        &:hover {
            background: $btn-gradient-hover;
            text-decoration: none;
        }

        &:active {
            background: $btn-gradient-active;
        }
    }

    .calendar_wrap {
        .descrip {
            position: absolute;
            top: -100px;
            left: -95px;
            font-family: 'Segoe UI Regular', sans-serif;
            color: #ffffff;
            font-size: 22px;
            line-height: 25px;
            font-style: italic;
            max-width: 150px;

            &:before {
                content: "";
                position: absolute;
                left: -10px;
                bottom: -120px;
                width: 84px;
                height: 117px;
                background-image: url('../images/sprite.png');
                background-repeat: no-repeat;
                background-position: 0 -882px;
            }
        }
    }
}

.content {
    padding-top: 100px;
    padding-bottom: 45px;

    .title {
        position: relative;
        font-family: 'Segoe UI Black', sans-serif;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        color: #393836;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 35px;
        padding-left: 40px;

        &:before {
            content: "";
            position: absolute;
            top: -8px;
            left: -5px;
            width: 50px;
            height: 10px;
            background-color: $main-color;
            border-radius: 21px;
            transform: rotate(-50deg);
        }
    }

    .link-box {
        text-align: right;
    }
}

.link_blue {
    position: relative;
    color: $main-color;
    font-size: 15px;
    padding-right: 40px;
    transition: color .2s ease;
    &:hover {
        color: $main-color-hover;
        text-decoration: none;
        i {
            right: -10px;
        }
    }
    i {
        font-size: 25px;
        width: 28px;
        position: absolute;
        top: 0;
        right: 0;
        transition: right .2s ease;
    }
}

.slider-builders {
    padding: 0 50px;
    margin-top: 75px;
    margin-bottom: 20px;

    .item {
        margin: 0;
        padding: 0;
        cursor: pointer;
        text-align: center;

        &__link {
            height: 83px;
            display: inline-block;
            padding: 20px;
            border-radius: 26px;
            margin: 5px;
            text-align: center;

            &--img {
                display: inline-block;
                height: 100%;
                width: auto !important;
                filter: grayscale(100%);
                margin: auto;
            }

            &:hover {
                box-shadow: $item-shadow;
                .item__link--img {
                    filter: grayscale(0%);
                }
            }
        }
    }

    .owl-nav {
        .owl-prev, .owl-next {
            position: absolute;
            top: 32px;
            width: 40px;
            height: 40px;
            background-color: transparent !important;
            background-image: url(../images/sprite.png) !important;
            background-repeat: no-repeat !important;
            background-position: 3px -203px !important;
            transition: all .2s ease;
            outline: none;
            border-radius: 50%;
            border: 2px solid #555555 !important;

            &:hover {
                border: 2px solid $main-color !important;
            }

            span {
                display: none;
            }
        }

        .owl-prev {
            left: 5px;

            &:active {
                left: 0;
            }
        }

        .owl-next {
            right: 5px;
            background-position: 3px -101px !important;

            &:active {
                right: 0;
            }
        }
    }
}

.bank {
    background-image: url(../images/bg-bank.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;

    .title {
        padding-right: 150px;

        &:after {
            content: "";
            position: absolute;
            top: -24px;
            right: 0;
            width: 134px;
            height: 134px;
            background-image: url(../images/svg/icon-8.svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .bank_calculator{
        padding: 20px;
        border: 4px solid $main-color;
        font: normal 33px/1 "Segoe UI", Times, serif;
        font-size: 32px;
        color: #000000;
        text-transform: uppercase;
        display: block;
        text-align: center;
        margin: 0 40px;
        cursor: pointer;
        transition: border .2s ease;
        &:hover{
            border: 4px solid #5fae57;
        }
    }
    .bank__list{
        margin-left: 40px;
        padding-top: 20px;
        .row{
            margin-left: -40px;
        }
        h3{
            font-family: 'Segoe UI', sans-serif;
            color: #303030;
            opacity: 0.8;
            font-size: 19px;
            line-height: 20px;
            padding-bottom: 14px;
            margin-bottom: 5px;
            border-bottom: 1px solid #95989A;
        }
        .bank__item{
            padding: 24px 38px;
            margin-bottom: 40px;
            border-radius: 26px;
            &:hover{
                box-shadow: 0 0 23px rgba(106, 179, 243, 0.2);
                .bank--image img{
                    filter: grayscale(0%);
                }
            }
            a{
                display: block;
                text-decoration: none;
                .bank{
                    &--image{
                        display: block;
                        height: 50px;
                        img{
                            max-height: 50px;
                            max-width: 220px;
                            display: inline-block;
                            margin: auto;
                            filter: grayscale(100%);
                        }
                    }
                    &--percent{
                        display: block;
                        font-family: 'Segoe UI Black', sans-serif;
                        color: $main-color;
                        font-size: 42px;
                        line-height: 57px;
                        margin-bottom: 10px;
                    }
                    &--text{
                        display: block;
                        font-family: 'Segoe UI', sans-serif;
                        color: #9E9E9E;
                        font-size: 19px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
}

.trust{
    background-image: url("../images/trust-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .title{
        color: #ffffff;
    }
    &__content{
        &--header{
            padding-left: 110px;
            font-family: 'Segoe UI Black', sans-serif;
            font-weight: 900;
            color: #ffffff;
            font-size: 24px;
            line-height: 32px;
            text-align: left;
            margin-bottom: 45px;
        }
        &--text{
            position: relative;
            padding-left: 280px;
            font-family: 'Segoe UI', sans-serif;
            font-weight: 600;
            color: #ffffff;
            font-size: 25px;
            line-height: 33px;
            text-align: left;
            .big_text{
                position: absolute;
                top: -65px;
                left: 40px;
                font-family: 'Segoe UI Black', sans-serif;
                font-weight: 900;
                color: $main-color;
                font-size: 135px;
                line-height: 148px;
                text-shadow: $text-shadow;
            }
        }
    }
}
.features{
    .features-item{
        a{
            display: block;
            overflow: hidden;
            height: 240px;
            width: 100%;
            position: relative;
            img{
                top: calc(50% - 120px);
                position: absolute;
                left: 0;
                width: 100%;
                height: auto;
                filter: grayscale(100%);
                transition: transform .2s ease;
                &:hover{
                    filter: grayscale(0%);
                    transform: scale(1.1);
                }
            }
        }
    }
    .feature{
        &__title{
            font-family: 'Segoe UI Black', sans-serif;
            font-weight: 900;
            color: $main-color;
            font-size: 24px;
            line-height: 29px;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        &__text{
            font-family: 'Segoe UI Regular', sans-serif;
            color: #2D2D2D;
            font-size: 14px;
            line-height: 21px;
            padding-bottom: 35px;
            padding-right: 50px;
        }
    }

}

.footer {
    display: flex;

    &__map {
        width: 50%;
    }

    &__info {
        width: 50%;
        color: #ffffff;
        background: linear-gradient(to bottom, #6ab3f3, #49854c);
        padding: 50px 35px;
    }
}

.steps{
    background-color: #F6F6F6;
    padding-top: 70px;
    padding-bottom: 100px;
    .title{
        font-size: 32px;
        line-height: 32px;
        text-transform: lowercase;
        padding-top: 100px;
        padding-bottom: 40px;
        padding-left: 155px;
        &:after{
            content: "7";
            position: absolute;
            top: 65px;
            left: 40px;
            font-family: 'Segoe UI Black', sans-serif;
            font-weight: 900;
            color: $main-color;
            font-size: 191px;
            line-height: 32px;
        }
    }
    .steps_item{
        margin-bottom: 60px;
        text-align: left;
        display: inline-block;
        position: relative;
        height: 100%;
        &:before{
            content: "";
            position: absolute;
            bottom: 45px;
            left: 0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $main-color;
            box-shadow: $item-shadow;
        }
        &:after{
            position: absolute;
            font-family: 'Segoe UI Black', sans-serif;
            font-weight: 900;
            color: #BBBBBB;
            font-size: 27px;
            left: 0;
        }
        &_image{
            margin-bottom: 15px;
            height: 71px;
            overflow: hidden;
            text-align: left;
            img{
                height: 100%;
                width: auto;
            }
        }
        &_info{
            p{
                position: relative;
                font-family: 'Segoe UI', sans-serif;
                font-weight: 600;
                color: #393836;
                font-size: 13px;
                line-height: 17px;
                a{
                    display: block;
                    color: #393836;
                    font-size: 20px;
                    line-height: 26px;
                }
            }
        }
    }
    .item{
        &_1:after{
            content: "01";
            bottom: 0;
        }
        &_2:after{
            content: "02";
            bottom: 0;
        }
        &_3:after{
            content: "03";
            bottom: 0;
        }
        &_4:after{
            content: "04";
            bottom: 0;
        }
        &_5, &_6, &_7{
            .steps_item_image{
                margin-top: 80px;
            }
            &:before{
                top: 45px;
            }
            &:after{
                content: "05";
                top: 0;
            }
        }
        &_6{
            &:after{
                content: "06";
            }
        }
        &_7{
            &:after{
                content: "07";
            }
        }
    }
}
.reviews{
    position: relative;
    overflow: hidden;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: -30%;
        width: 2000px;
        height: 1000px;
        background-image: url(../images/bg-reviews.png);
        background-repeat: repeat;
        transform: rotate(-33deg);
    }
}
.slider-reviews-wrapper{
    max-width: 1600px;
    margin: auto;
    .slider-reviews{
        &__item{
            position: relative;
            margin: 70px 17px 20px;
            padding: 70px 20px 20px;
            background-color: #ffffff;
            box-shadow: 0 0 36px rgba(158, 158, 158, .16);
            &:before{
                content: "";
                position: absolute;
                top: 25px;
                left: 50%;
                margin-left: -25px;
                width: 51px;
                height: 34px;
                background-image: url(../images/sprite.png);
                background-repeat: no-repeat;
                background-position: 0 -667px;
            }
            &:after{
                content: "";
                position: absolute;
                bottom: 18px;
                left: 50%;
                margin-left: -25px;
                width: 51px;
                height: 34px;
                background-image: url(../images/sprite.png);
                background-repeat: no-repeat;
                background-position: 0 -1039px;
            }
            .item{
                &--image {
                    width: 76px;
                    height: 76px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: absolute;
                    top: -35px;
                    left: 60px;
                }
                &--text{
                    text-align: center;
                }
                &--info{
                    text-align: right;
                    font-family: 'Segoe UI Semibold', sans-serif;
                    font-size: 14px;
                    line-height: 17px;
                    font-style: italic;
                    padding-top: 13px;
                    .info_name{
                        color: $main-color;
                    }
                }
            }
        }
        .owl-dots {
            display: none;
        }
    }
}
.content {
    .slider-reviews,
    .slider-certificate,
    .slider-object-photo {
        .owl-nav {
            text-align: right;
            margin-right: 17px;

            .owl-prev, .owl-next {
                display: inline-block;
                font-family: 'Segoe UI Regular', sans-serif;
                color: $main-color;
                background-color: transparent;
                background-repeat: no-repeat;
                margin: 10px 20px 0 0;
                outline: none !important;
                background-image: url(../images/sprite.png);
                font-size: 14px;

                &:hover {
                    color: $main-color-hover;
                    background-color: transparent;
                }

                &:active {
                    color: $main-color-active;
                    background-color: transparent;
                }
            }

            .disabled {
                opacity: 0.5;
                cursor: default;
            }

            .owl-prev {
                padding-left: 40px !important;
                background-position: 5px -259px;
            }

            .owl-next {
                padding-right: 40px !important;
                background-position: 84px -157px;
            }
        }
    }
    .slider-object-photo{
        .owl-nav{
            max-width: 1170px;
            margin: 0 auto;
        }
    }
}

.request{
    color: $main-color !important;
    padding-bottom: 5px;
    border-bottom: 1px solid $main-color;
    font-size: 13px !important;
    display: inline !important;
    cursor: pointer;
    line-height: 17px !important;
    &:hover{
        color: $main-color-hover !important;
        border-bottom-color: $main-color-hover;
    }
    &:active{
        color: $main-color-active !important;
        border-bottom-color: $main-color-active;
    }
}

.contact {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 41px;
        height: 44px;
        background-image: url('../images/sprite.png');
        background-repeat: no-repeat;
    }

    &_address {
        padding-left: 54px;
        position: relative;
        margin-bottom: 40px;

        &:before {
            background-position: 0 -1254px;
        }

        p {
            font-family: 'Segoe UI Regular', sans-serif;
        }
    }

    &_phone {
        padding-left: 54px;
        position: relative;

        &:before {
            left: -5px;
            background-position: 0 -463px;
        }

        &_item {
            margin-bottom: 25px;

            .city {
                display: block;
            }

            .phone {
                color: #ffffff;
                transition: color .2s ease;

                &:hover {
                    text-decoration: none;
                    color: #6ab3f3;
                }
            }
        }
    }
}

.contact-info {
    .contact-btn {
        display: inline-block;
        border: 1px solid #ffffff;
        margin-left: 54px;
        margin-bottom: 40px;
        text-transform: none;
        padding: 10px 50px;
        border-radius: 26px;
        font-family: 'Segoe UI', sans-serif;
        font-size: 14px;
        transition: all .2s ease;
        cursor: pointer;

        &:hover {
            color: #6ab3f3 !important;
            border: 1px solid #6ab3f3;
        }
    }
}

.social {
    display: flex;
    justify-content: start;

    &_item {
        position: relative;
        font-size: 14px;
        line-height: 19px;
        margin-left: 54px;
        padding-bottom: 3px;
        border-bottom: 1px solid #ffffff;
        margin-right: 40px;
        color: #ffffff;

        &:hover {
            text-decoration: none;
        }

        &:before {
            content: "";
            position: absolute;
            width: 42px;
            height: 42px;
            background-image: url(../images/sprite.png);
            background-repeat: no-repeat;
        }

        &_vk {
            &:before {
                top: -10px;
                left: -60px;
                background-position: 0 -800px;
            }
        }

        &_youtube {
            &:before {
                top: 0;
                left: -45px;
                background-position: 0 -607px;
            }
        }
    }
}

.copyright {
    padding-top: 50px;

    a {
        color: #ffffff;
        text-decoration: underline;
    }
}
.header-top{
    margin: 25px 0;
    color: #ffffff;
    &__text{
        padding: 20px 20px 20px 70px;
        background-color: $main-color;
        h2{
            font-size: 20px;
            line-height: 24px;
        }
        p{
            margin: 0;
            font-size: 17px;
            line-height: 20px;
        }
    }
    &__value{
        height: 100%;
        background-image: url(../images/bg-header-top.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 31px;
    }
}
.header.custom{
    height: auto;
    .header-menu{
        .logo h1,
        .menu ul li a,
        .phones a,
        .phones .phone_city{
            color: #202020;
            &:hover{
                color: $custom-color-hover;
            }
            &:active{
                color: $custom-color-active;
            }
        }
    }
}
.about-company{
    p{
        text-align: justify;
    }
    a{
        color: $main-color;
        &:hover{
            color: $main-color-hover;
        }
        &:active{
            color: $main-color-active;
        }
    }
    .info-numbers{
        margin-bottom: 40px;
        &__item{
            text-align: center;
            font-family: 'Segoe UI Black', sans-serif;
            .big-value{
                font-size: 95px;
                text-align: center;
                color: $main-color;
                text-shadow: 0 0 8px rgba(255, 0, 0, 0.36);
            }
            .description{
                color: #393836;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
    }
}
.slider-certificate{
    margin: 60px 0 20px;
    &__item{
        cursor: pointer;
        a{
            padding: 30px;
            display: block;
            img{
                max-height: 200px;
                filter: grayscale(100%);
                width: auto !important;
            }
        }
        &:hover{
            img{
                filter: grayscale(0%);
                box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
.service-tab{
    border-bottom: 0;
    margin-bottom: 70px;
    &__item{
        margin-right: 15px;
        a.nav-link{
            position: relative;
            border: 1px solid rgba(149, 152, 154, .39);
            border-radius: 20px;
            box-shadow: 0 0 64px rgba(0, 0, 0, 0.03);
            width: 225px;
            font-size: 15px;
            height: 62px;
            line-height: 1.3;
            color: #0e0e0e;
            display: flex;
            padding: 0;
            align-items: center;
            svg{
                width: 38px;
                margin: 0 20px 0 25px;
            }
            &.active,
            &:hover{
                border: 1px solid transparent;
                box-shadow: 0 0 10px rgba(255, 32, 32, 0.33);
                color: $main-color;
                svg{
                    fill: $main-color;
                }
            }
        }
    }
}
.stage-list__item{
    padding-left: 70px;
    margin-bottom: 90px;
    .stage-title{
        font-family: 'Segoe UI Black', sans-serif;
        font-weight: 900;
        font-size: 31px;
        line-height: 38px;
        color: #4D4D4D;
        text-transform: uppercase;
        position: relative;
        span{
            position: absolute;
            top: -5px;
            left: -70px;
            width: 48px;
            height: 48px;
            font-size: 30px;
            line-height: 47px;
            text-align: center;
            color: #ffffff;
            background-color: $main-color;
            border-radius: 50px;
            content: "1";
        }
    }
    p{
        font-size: 20px;
        line-height: 29px;
        color: #444444;
        text-transform: none;
        margin: 20px 0;
        b.color-text,
        span.color-text{
            font-family: 'Segoe UI Black', sans-serif;
            font-weight: 900;
            font-size: 31px;
            line-height: 38px;
            color: $main-color;
        }
        span.color-text{
            font-size: 20px;
            font-family: 'Segoe UI', sans-serif;
        }
    }
    .criterion{
        margin-top: 80px;
        .row{
            margin-left: 0;
        }
        h3{
            margin-bottom: 50px;
        }
        &__item{
            position: relative;
            height: 202px;
            cursor: pointer;
            h4,h5{
                font-family: 'Segoe UI Black', sans-serif;
                font-weight: 900;
                font-size: 19px;
                line-height: 26px;
                color: #ffffff;
                text-align: center;
                padding: 0;
                margin: 0;
                &:before{
                    content: none;
                }
            }
            h5{
                text-align: left;
                margin-bottom: 10px;
            }
            ul{
                list-style-type: none;
                li{
                    font-size: 14px;
                    line-height: 24px;
                    color: #ffffff;
                }
            }
            &--show{
                padding: 0 30px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                &-1 {
                    background-image: url("../images/criterion/criterion-1.png");
                }
                &-2 {
                    background-image: url("../images/criterion/criterion-2.png");
                }
                &-3 {
                    background-image: url("../images/criterion/criterion-3.png");
                }
                &-4 {
                    background-image: url("../images/criterion/criterion-4.png");
                }
                &-5 {
                    background-image: url("../images/criterion/criterion-5.png");
                }
                &-6 {
                    background-image: url("../images/criterion/criterion-6.png");
                }
            }
            &--hidden{
                position: absolute;
                top: -30px;
                left: -45px;
                width: 371px;
                height: 275px;
                padding: 30px 35px;
                background-image: url(../images/criterion/hidden.png);
                background-repeat: no-repeat;
                z-index: 100;
                display: none;
            }
            &:hover{
                .criterion__item{
                    &--show{
                        position: absolute;
                        top: -202px;
                        width: 289px;
                    }
                    &--hidden{
                        display: block;
                    }
                }
            }
        }
    }
    h3{
        font-size: 37px;
        line-height: 55px;
        color: #4D4D4D;
        margin: 40px 0 50px;
    }
    .bg-color{
        padding: 35px 40px;
        background-color: rgba(239, 101, 101, 0.14);
        margin-top: 50px;
        margin-bottom: 40px;
        b{
            font-family: 'Segoe UI Semibold', sans-serif;
        }
    }
    .booking{
        margin-bottom: 25px;
        &__item{
            h3{
                font-family: 'Segoe UI Black', sans-serif;
                font-weight: 900;
                color: #393836;
                font-size: 15px;
                line-height: 15px;
                margin-bottom: 5px;
            }
            p{
                margin: 0;
                font-family: 'Segoe UI Black', sans-serif;
                font-weight: 900;
                font-size: 15px;
                line-height: 15px;
                color: $main-color;
                b{
                    font-family: 'Segoe UI Black', sans-serif;
                    font-weight: 900;
                    font-size: 95px;
                    line-height: 95px;
                    color: $main-color;
                    text-shadow: $item-shadow;
                }
            }
        }
    }
    ul{
        list-style-type: none;
        margin: 30px 0;
        li{
            color: #2D2D2D;
            font-size: 18px;
            line-height: 26px;
        }
        &.bold-text{
            li{
                font-size: 20px;
                color: #444444;
                font-family: 'Segoe UI Semibold', sans-serif;
                margin: 15px 0;
            }
        }
    }
    .doc-list{
        .doc-item{
            margin-top: 30px;
            &--1{
                border-right: 1px solid rgba(149, 152, 154, 0.2);
            }
            &__body{
                ul{
                    li{
                        margin: 15px 0;
                    }
                }
            }
        }
    }
    h4{
        font-family: 'Segoe UI', sans-serif;
        font-weight: 600;
        color: $main-color;
        font-size: 19px;
        line-height: 21px;
        white-space: normal;
        position: relative;
        padding-left: 60px;
        margin: 50px 0 30px;
        &:before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: url(../images/svg/document.svg);
            width: 39px;
            height: 43px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .red-box-center{
        padding: 10px 40px;
        border: 1px solid #DC1717;
        p{
            b{
                font-family: 'Segoe UI', sans-serif;
                font-weight: 600;
                color: #DC1717;
            }
        }
    }
    .green-box-left{
        padding: 10px 40px;
        border: 1px solid #1D9201;
        p{
            span{
                font-family: 'Segoe UI', sans-serif;
                font-weight: 600;
                color: #1D9201;
            }
        }
        a{
            display: inline-block;
            background-color: #1D9201;
            color: #ffffff;
            padding: 10px 17px;
            text-align: center;
            border-radius: 24px;
            margin-bottom: 20px;
        }
    }
    .color-title{
        font-family: 'Segoe UI Black', sans-serif;
        font-weight: 900;
        font-size: 40px;
        color: $main-color;
    }
    .small-title{
        font-family: 'Segoe UI Black', sans-serif;
        font-weight: 900;
        color: #393836;
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 5px;
    }
    .bank-link{
        width: 330px;
        display: inline-block;
        margin: 20px 0;
        max-height: 35px;
        a{
            display: inline-block;
            max-height: 35px;
            img{
                max-height: 35px;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }
    .color-link{
        color: $main-color;
        &:hover{
            color: $main-color-hover;
            text-decoration: underline;
        }
        &:active{
            color: $main-color-active;
        }
    }
    .circle-color{
        position: absolute;
        top: -5px;
        left: -70px;
        width: 48px;
        height: 48px;
        font-size: 30px;
        line-height: 47px;
        text-align: center;
        color: #ffffff;
        background-color: $main-color;
        border-radius: 50px;
        font-family: 'Segoe UI Black', sans-serif;
    }
    .cause-list{
        padding-left: 70px;
        &__item{
            position: relative;
        }
    }
    .color-sky{
        background-color: #fde9e9;
        font-style: italic;
        padding: 40px;
        border-radius: 60px;
        position: relative;
        margin: 30px 120px 30px 0;
        p{
            font-size: 15px;
            line-height: 21px;
        }
        &:after{
            content: "";
            position: absolute;
            right: -110px;
            top: 54px;
            display: inline-block;
            width: 0;
            height: 0;
            transform: rotate(-6deg);
            border-style: solid;
            border-width: 128px 128px 0 0;
            border-color: #fde9e9 transparent transparent transparent;
        }
    }
}
.filter-wrap{
    border: 1px solid #EFEFEF;
    border-radius: 15px;
    text-align: left;
    background-color: #ffffff;
    h3{
        height: 44px;
        text-align: center;
        background-color: $main-color;
        font-family: 'Segoe UI Regular', sans-serif;
        font-size: 18px;
        line-height: 17px;
        color: #ffffff;
        padding-top: 12px;
        border-radius: 15px 15px 0 0;
    }
    .filter-search{
        margin-top: 20px;
        width: 100%;
        font-family: 'Segoe UI Semibold', sans-serif;
        color: #ffffff;
        background-color: $main-color;
        font-size: 15px;
        line-height: 42px;
        text-align: center;
        border: 1px solid #EFEFEF;
        outline: none;
        &:hover{
            background-color: $main-color-hover;
        }
        &:active{
            background-color: $main-color-active;
        }
    }
    .filter-reset{
        width: 100%;
        font-family: 'Segoe UI Semibold', sans-serif;
        color: $main-color;
        font-size: 15px;
        line-height: 42px;
        text-align: center;
        background-color: #ffffff;
        border: 1px solid #EFEFEF;
        border-radius: 0 0 15px 15px;
        outline: none;
        &:hover{
            background-color: #f5f5f5;
        }
        &:active{
            background-color: #ebebeb;
        }
    }
    .select-title{
        font-family: 'Segoe UI Semibold', sans-serif;
        font-size: 15px;
        line-height: 20px;
        margin: 28px 0 10px 25px;
        display: block;
    }
}
.form-wrap{
    .form_label{
        display: block;
        margin-top: 30px;
        padding: 0 15px;
    }
}
.input-default{
    width: 100%;
    height: 40px;
    font-family: 'Segoe UI Regular', sans-serif;
    color: #2D2D2D;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 10px 10px 20px;
    border: 1px solid rgba(149, 152, 154, 0.3);
    border-radius: 68px;
    outline: none;
    &:hover, &:focus{
        border: 1px solid rgba(239, 101, 101, 0.3);
    }
}
.select__item{
    padding: 0 15px;
    margin: 30px 0;
}
.select2-container {
    display: block;
    width: 100% !important;
    .select2-selection--single{
        height: 40px;
        .select2-selection__rendered{
            padding-right: 10px;
            padding-left: 20px;
        }
    }
    &--default{
        .select2-selection--single{
            border: 1px solid rgba(149, 152, 154, 0.3);
            border-radius: 20px;
            &:hover{
                border: 1px solid rgba(239, 101, 101, 0.3);
            }
            .select2-selection__rendered{
                color: #2D2D2D;
                line-height: 40px;
            }
            .select2-selection__arrow{
                height: 40px;
                width: 40px;
            }
        }
    }
}
.checkbox__item{
    padding: 0 15px;
    &:hover{
        .checkbox-default{
            text-decoration: underline;
            &:before{
                border: 2px solid $main-color;
            }
        }
    }
}
.checkbox-default{
    margin-top: 20px;
    display: block;
    padding: 0 15px;
    span{
        font-family: 'Segoe UI Semibold', sans-serif;
        font-size: 15px;
    }
}
input[type=checkbox] + label {
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 2px solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 22px;
    height: 22px;
    padding-left: 0.2em;
    margin-right: 0.7em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
    line-height: 1.1;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: $main-color;
    border-color: $main-color;
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}
.objects-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    &__item{
        margin-right: 30px;
        a{
            position: relative;
            border: 1px solid rgba(149, 152, 154, 0.39);
            border-radius: 20px;
            box-shadow: 0 0 64px rgba(0, 0, 0, 0.03);
            font-size: 18px;
            height: 44px;
            line-height: 41px;
            color: #2d2d2d;
            display: -ms-flexbox;
            display: block;
            text-align: center;
            padding: 0 35px;
            &.active,
            &:hover{
                border: 1px solid transparent;
                box-shadow: 0 0 10px rgba(255, 32, 32, 0.33);
                color: $main-color;
                text-decoration: none;
            }
        }
        &.active{
            a{
                border: 1px solid transparent;
                box-shadow: 0 0 10px rgba(255, 32, 32, 0.33);
                color: $main-color;
                text-decoration: none;
            }
        }
    }
}
.btn-default{
    background: $btn-gradient;
    text-transform: uppercase;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
    line-height: 19px;
    border-radius: 68px;
    padding: 15px 40px;
    border: 1px solid #ca3636;
    outline: none !important;
    &:hover {
        background: $btn-gradient-hover;
        text-decoration: none;
    }
    &:active {
        background: $btn-gradient-active;
    }
}
.object-item{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    height: 100%;
    margin-bottom: 30px;
    .item_link{
        margin-bottom: 25px;
        a{
            position: relative;
            display: block;
            height: 185px;
            overflow: hidden;
            img{
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
            .bg-link{
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                display: none;
                align-items: center;
                justify-content: center;
                font-size: 23px;
                color: #ffffff;
            }
            &:hover{
                img{
                    filter: brightness(50%);
                }
                .bg-link{
                    display: flex;
                }
            }
        }
    }
    .item_info{
        padding: 0 25px;
        margin-bottom: 20px;
        .item--name{
            font-family: 'Segoe UI Semibold', sans-serif;
            font-size: 23px;
            line-height: 31px;
            color: $main-color;
            margin: 10px 0;
            text-decoration: none;
            &:hover{
                color: $main-color-hover;
            }
            &:active{
                color: $main-color-active;
            }
        }
        .item--metro{
            position: relative;
            padding-left: 30px;
            margin-bottom: 7px;
            a{
                color: #2D2D2D;
            }
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background-image: url(../images/sprite.png);
                background-repeat: no-repeat;
                background-position: 0 -54px;
            }
        }
        .item--address{
            position: relative;
            padding-left: 30px;
            margin-bottom: 7px;
            a{
                color: #2d2d2d;
            }
            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                background-image: url(../images/sprite.png);
                background-repeat: no-repeat;
                background-position: 0 1px;
            }
        }
        .item--rent{
            span{
                font-family: 'Segoe UI', sans-serif;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.3);
                margin: 0 20px 0 5px;
            }
        }
    }
    .item_list{
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 0 25px;
        ul{
            list-style-type: none;
            margin-bottom: 20px;
            li{
                border-bottom: 1px solid rgba(149, 152, 154, 0.1);
            }
        }
        .item_list_apartment{
            display: flex;
            justify-content: space-between;
            padding: 6px 0;
            color: #2D2D2D;
            text-decoration: none;
            &:hover{
                color: $main-color-hover;
            }
            &:hover{
                color: $main-color-active;
            }
        }
    }
}
.objects-wrap,
.apartment-wrap{
    .row>div{
        display: flex;
        flex-direction: column;
    }
}
.apartment-item{
    position: relative;
    margin-bottom: 40px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    cursor: pointer;
    height: 100%;
    .item_link{
        padding: 25px 85px;
        border-bottom: 1px solid rgba(149, 152, 154, 0.1);
        margin-bottom: 10px;
        position: relative;
        height: 235px;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    .item_info{
        padding: 0 25px 20px;
        .item--description{
            font-family: 'Segoe UI Semibold', sans-serif;
            font-size: 18px;
        }
        .item--price{
            margin-bottom: 20px;
            font-family: 'Segoe UI Black', sans-serif;
            font-weight: 900;
            font-size: 17px;
            line-height: 17px;
            color: $main-color;
        }
    }
}
.remodal-close {
    left: auto;
    right: 0;
    z-index: 1;
}
.remodal_apartment{
    max-width: 850px;
    padding: 20px 0 0;
    .apartment-item{
        box-shadow: none;
        .item_link{
            border-bottom: none;
        }
        .apartment_header{
            .item_info{
                .item--description{
                    font-size: 32px;
                }
                .item--place{
                    margin: 10px 0;
                    a{
                        color: #2D2D2D;
                        font-size: 18px;
                    }
                }
            }
        }
        .apartment_body{
            .item_link{
                width: 330px;
                height: 260px;
                margin-bottom: 30px;
                padding: 0;
            }
            .item--metro{
                position: relative;
                padding-left: 30px;
                margin-bottom: 7px;
                a{
                    color: #2D2D2D;
                    font-size: 13px;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background-image: url(../images/sprite.png);
                    background-repeat: no-repeat;
                    background-position: 0 -54px;
                }
            }
            .item--address{
                position: relative;
                padding-left: 30px;
                margin-bottom: 7px;
                a{
                    color: #2d2d2d;
                    font-size: 13px;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    background-image: url(../images/sprite.png);
                    background-repeat: no-repeat;
                    background-position: 0 1px;
                }
            }
            .item--rent{
                font-size: 13px;
                line-height: 2.3;
                span{
                    font-family: 'Segoe UI', sans-serif;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.3);
                    margin: 0 20px 0 5px;
                }
            }
            .apartment-list{
                padding-right: 25px;
                ul{
                    list-style-type: none;
                }
                &__item{
                    display: flex;
                    justify-content: space-between;
                    color: #2D2D2D;
                    font-size: 18px;
                    line-height: 24px;
                    border-bottom: none;
                    font-family: 'Segoe UI Regular', sans-serif;
                    position: relative;
                    margin-bottom: 10px;
                    &:before{
                        content: "";
                        position: absolute;
                        top: 20px;
                        left: 0;
                        width: 100%;
                        height: 1px;
                        background-color: rgba(149, 152, 154, 0.1);
                        z-index: 1;
                    }
                    span{
                        background-color: #ffffff;
                        padding: 7px 10px 0;
                        z-index: 10;
                    }
                }
            }
        }
    }
}
.apartment_header,
.apartment_body{
    text-align: left;
}
.remodal__footer{
    display: flex;
    justify-content: flex-end;
    background-color: #F6F6F6;
    padding: 20px 55px;
    button{
        margin: 0 10px;
        border: 1px solid #dc4646;
    }
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $main-color;
}
.object-header{
    text-align: center;
    background-image: url(../images/bg-header-object.png);
    background-size: 100%;
    background-repeat: no-repeat;
    &__name{
        font-size: 55px;
        line-height: 74px;
        color: #ffffff;
        text-transform: none;
        padding-left: 0;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 10px;
        font-family: 'Segoe UI Black', sans-serif;
    }
    &__address{
        color: #ffffff;
        padding-bottom: 50px;
    }
}
.object-body{
    h3{
        font-family: 'Segoe UI Black', sans-serif;
        font-weight: 900;
        color: #393836;
        font-size: 32px;
        line-height: 44px;
        margin: 30px 0 50px;
    }
}
.content{
    .content-title{
        font-family: 'Segoe UI', sans-serif;
        font-weight: 600;
        font-size: 37px;
        line-height: 35px;
        color: #393836;
        margin-bottom: 50px;
        text-align: left;
    }
    .content-text{
        padding-bottom: 20px;
    }
}
.objects-wrap.builders-page{
    .object-item{
        box-shadow: none;
        .item_link{
            margin-bottom: 0;
        }
        .item_info{
            padding: 0;
            a{
                color: #444444;
            }
        }
    }
}