@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

@media (max-width: 1199px) {
    .menu{
        margin: 40px 0 60px;
    }
    .header-menu{
        .phones{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .phone_main{
                font-size: 22px;
            }
            .phone_city{
                text-align: left;
                a{
                    margin-left: 0;
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .header-menu{
        .menu{
            ul{
                li{
                    margin: 0;
                }
            }
        }
        .phones{
            .phone_city{
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .menu{
        display: none;
        margin: 0;
    }
    .menu_mobile{
        display: block;
    }
    .burger-menu{
        cursor: pointer;
        span{
            position: absolute;
            width: 29px;
            height: 5px;
            background-color: red;
            right: 0;
            border-radius: 7px;
            &:nth-of-type(1){
                top: 20px;
            }
            &:nth-of-type(2){
                top: 28px;
            }
            &:nth-of-type(3){
                top: 36px;
            }
        }
    }
}